# Base URL where assets and workers are hosted
# VIPER_IDE_BASE_URL=http://localhost:10001

# CORS relaying proxy endpoint, with the access token; {} is replaced by the target url
# CORS_PROXY=https://cors.sh/{}
CORS_PROXY=
